@tailwind base;
@tailwind utilities;
@tailwind components;

/* Add these because tailwind classes aren't working */
/* .note-header {
  height: 300px;
}

@media (min-width: 1440px) {
  .note-header {
    height: 37vh;
  }
} */

.mobile-light {
  background: url(../../public//assets/images/bg-mobile-light.jpg);
}

/* body {
  background-color: ;
} */
