@tailwind base;
@tailwind utilities;
@tailwind components;

.desktop-dark {
  background: url("../../public/assets/images/bg-desktop-dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.desktop-light {
  background: url("../../public/assets/images/bg-desktop-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile-dark {
  background: url("../../public/assets/images/bg-mobile-dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile-light {
  background: url("../../public/assets/images/bg-mobile-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.check-box-ticked {
  background-image: url("../../public/assets/images/gradient.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gradient-hover:hover {
  background-image: url("../../public/assets/images/gradient-hover.svg");
  background-size: cover;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}
