@tailwind base;
@tailwind utilities;
@tailwind components;

.desktop-dark {
  background: url("../../public/assets/images/bg-desktop-dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.desktop-light {
  background: url("../../public/assets/images/bg-desktop-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile-dark {
  background: url("../../public/assets/images/bg-mobile-dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile-light {
  background: url("../../public/assets/images/bg-mobile-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.check-box-ticked {
  background-image: url("../../public/assets/images/gradient.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gradient-hover:hover {
  background-image: url("../../public/assets/images/gradient-hover.svg");
  background-size: cover;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

/* Loader */
/* <div class="lds-hourglass"></div> */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 14, 33, 0.611);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid hsl(187, 87%, 65%);
  border-color: hsl(280, 87%, 65%) transparent #ffffff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
